[submodule "db"]
	path = db
	url = https://github.com/archeusllc/band-together-db.git
	branch = main
[submodule "api"]
	path = api
	url = https://github.com/archeusllc/band-together-api.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/archeusllc/band-together-client.git
	branch = main
[submodule "cms-api"]
	path = cms-api
	url = https://github.com/archeusllc/band-together-cms-api.git
	branch = main
[submodule "cms-client"]
	path = cms-client
	url = https://github.com/archeusllc/band-together-cms-client.git
	branch = main
[submodule "wiki"]
	path = wiki
	url = https://github.com/archeusllc/band-together-wiki.git
	branch = master
[submodule "schema"]
	path = schema
	url = https://github.com/archeusllc/band-together-schema.git
	branch = main
[submodule "types"]
	path = types
	url = https://github.com/archeusllc/band-together-types.git
	branch = main
