[submodule "wiki"]
	path = modules/wiki
	url = https://github.com/archeusllc/band-together.wiki.git
	branch = master
[submodule "types"]
	path = modules/types
	url = https://github.com/archeusllc/band-together-types
	branch = main
	