# Dependencies
node_modules/

# Bun
.bun/
bun.lockb

# Prisma
migrations/*.sql
!migrations/migration_lock.toml

#Generated Prisma client files
generated/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
